@import './breakpoints';
@import './container';
@import './variables';
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all 0.2s;
    background: no-repeat;
    background-size: cover;
}

img , svg {
	vertical-align: top;
	max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.fade {
    animation: fadeEffect 2s;
}

@keyframes fadeEffect {
    from {opacity: 0.2}
    to {opacity: 1}
}




.shadow-drop-center {
    animation:shadow-drop-center 1s linear both
} 
@keyframes shadow-drop-center {
    0% {
        box-shadow:0 0 0 0 transparent
    }
    100% {
        box-shadow:0 0 40px 0 rgba(255, 192, 203, 1)
    }
}





.blur-in {
    animation:blur-in 0.4s linear both
} 
@keyframes blur-in {
    0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}
}



.mySlide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-content: center;
}


.main {
    background: linear-gradient($-c-pink, $-c-black);
    padding-bottom: 30px;
}

ul, li {
    list-style: none;
}

.slide {


    &_numm {
        position: absolute;
        top: 20px;
        right: 20px;

        &-text {
            font-size: 70px;
            color: $-c-pink;
            font-weight: bold;
        }
    }

    &_description {
        position: absolute;
        bottom: 20px;

        &-text {
            font-size: 30px;
            color: $-c-pink;

        }
    }


    &-image {
        width: 600px;
        height: 400px; 
        object-fit: cover;
    }
}



.header {
    padding-bottom: 30px;
    background-color: $-c-pink;

    &_body {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    &_logo {


        &-image {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }

    &-nav {
        width: 450px;

        &_list {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: space-between;
        }
    }
}


.footer {
    background-color: $-c-black;

    &_body {

    }

    
    &_list {

    }

    &-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        

        &_element {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding-right: 30px;
            &:last-child {
                padding: 0px;
            }

            &_personal-data {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }


            &_description {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                &-achievements {

                }
            }


            &_contact {

            }


            &_image {
                max-height: 300px;
            }
            

            &-text {
                color: $-c-pink;
            }
        }
    }


}