@import './breakpoints';
@import './container';
@import './variables';
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all 0.2s;
    background: no-repeat;
    background-size: cover;
}

img , svg {
	vertical-align: top;
	max-width: 100%;
    object-fit: cover;
}

.fade {
    animation: fadeEffect 2s;
}

@keyframes fadeEffect {
    from {opacity: 0.2}
    to {opacity: 1}
}




.shadow-drop-center {
    animation:shadow-drop-center 1s linear both
} 
@keyframes shadow-drop-center {
    0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 20px 0 rgba(255,255,255,.55)}
}
.mySlide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-content: center;
}


.slide {


    &_numm {
        position: absolute;
        top: 20px;
        right: 20px;

        &-text {
            font-size: 70px;
            color: $-c-pink;
            font-weight: bold;
        }
    }

    &_description {
        position: absolute;
        bottom: 20px;

        &-text {
            font-size: 30px;
            color: $-c-pink;
        }
    }


    &-image {
        width: 600px;
        height: 400px; 
        object-fit: cover;
    }
}
