.container {
  max-width: 1536px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}
@media screen and (max-width: 1536px) {
  .container {
    max-width: 1320px;
  }
}
@media screen and (max-width: 1320px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: all 0.2s;
  background: no-repeat;
  background-size: cover;
}

img, svg {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

.fade {
  animation: fadeEffect 2s;
}

@keyframes fadeEffect {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.shadow-drop-center {
  animation: shadow-drop-center 1s linear both;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 40px 0 rgb(255, 192, 203);
  }
}
.blur-in {
  animation: blur-in 0.4s linear both;
}

@keyframes blur-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
.mySlide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.slideshow-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.main {
  background: linear-gradient(#FFC0CB, #000000);
  padding-bottom: 30px;
}

ul, li {
  list-style: none;
}

.svg-arrows {
  fill: #000000;
}
.svg-arrows:hover {
  fill: #FFC0CB;
}

.slide_numm {
  position: absolute;
  top: 20px;
  right: 20px;
}
.slide_numm-text {
  font-size: 70px;
  color: #FFC0CB;
  font-weight: bold;
}
.slide_description {
  position: absolute;
  bottom: 20px;
}
.slide_description-text {
  font-size: 30px;
  color: #FFC0CB;
}
.slide-image {
  width: 600px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slide-dots-item {
  height: 15px;
  width: 15px;
  margin: 0 15px;
  background-color: #FFC0CB;
  border-radius: 50%;
  cursor: pointer;
}
.slide-dots-item:hover {
  background-color: #FF69B4;
}

.header {
  padding-bottom: 30px;
  background-color: #FFC0CB;
}
.header_body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.header_logo-image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-nav {
  width: 450px;
}
.header-nav_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.header_music {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}

.footer {
  background-color: #000000;
}
.footer_body {
  padding-bottom: 30px;
}
.footer-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-list_element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
.footer-list_element:last-child {
  padding: 0px;
}
.footer-list_element_personal-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-list_element_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer-list_element_description-achievements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
.footer-list_element_image {
  max-height: 300px;
}
.footer-list_element-text {
  color: #FFC0CB;
}

.bgMusic {
  cursor: pointer;
  fill: #FF69B4;
}
.bgMusic:hover {
  fill: #000000;
}

.volume-music {
  color: #FF69B4;
}/*# sourceMappingURL=app.css.map */