@import './breakpoints';
@import './container';
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all 0.2s;
    background: no-repeat;
    background-size: cover;
}

img , svg {
	vertical-align: top;
	max-width: 100%;
    width: 600px;
    height: 400px;
    object-fit: cover;
}